*{
    margin: 0px;
    padding: 0px;
}
bory{
    background-color: chocolate;
    
    .cabeçalho{
        background-color: blue;
        color: black;
        display: flex;
        justify-content: space-around;
        padding: 24px 0;
    }
}